<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DefaultDevices</key>
	<dict>
		<key>com.apple.CoreSimulator.SimRuntime.iOS-10-3</key>
		<dict>
			<key>com.apple.CoreSimulator.SimDeviceType.iPad--5th-generation-</key>
			<string>8FE34BAE-5422-4815-91B1-26504682159D</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPad-Air</key>
			<string>966869D6-B68B-481F-A37A-70EAB3D5E04F</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPad-Air-2</key>
			<string>0AAB7EAE-6FF3-49A9-9021-EFC23497465B</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPad-Pro</key>
			<string>3D8C804B-D793-4E44-BBD9-AD513EAE3FA8</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPad-Pro--10-5-inch-</key>
			<string>9CA461B1-7FC9-4BF6-B604-CDA831212D7F</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPad-Pro--12-9-inch---2nd-generation-</key>
			<string>0E57FA5F-FF68-4F77-A686-9CD336E1A922</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPad-Pro--9-7-inch-</key>
			<string>D488B0AB-1F48-4E11-B780-2A9A1695A28F</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPhone-5s</key>
			<string>118A2FD4-3DF6-4D3E-8624-399BD79838A5</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPhone-6</key>
			<string>0F16B931-DEE7-48A5-820A-759DCAF0D884</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPhone-6-Plus</key>
			<string>FFB23D20-C844-4730-BB2C-C36DC6C3A10D</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPhone-6s</key>
			<string>5A709166-5CE8-4AFB-9A6A-1523B48091C8</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPhone-6s-Plus</key>
			<string>4B45874F-13CC-4227-8218-79AD22B2FA86</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPhone-7</key>
			<string>ADDF4921-E31E-4A9B-A3C4-6FFD4A22C92B</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPhone-7-Plus</key>
			<string>696C487A-005B-43C2-8137-7892BADA10BC</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPhone-SE</key>
			<string>567EAD42-92C4-4CC0-9EBE-E069F2653DB9</string>
		</dict>
		<key>com.apple.CoreSimulator.SimRuntime.iOS-11-4</key>
		<dict>
			<key>com.apple.CoreSimulator.SimDeviceType.iPad--5th-generation-</key>
			<string>D05B4373-0018-4E39-B86A-EF33B4330593</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPad--6th-generation-</key>
			<string>FACBD751-E76C-4B58-9C0A-1FBDCECE3E59</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPad-Air</key>
			<string>463B677D-1F6C-4F59-9A55-A93149FF87F6</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPad-Air-2</key>
			<string>DF5F9BD6-383A-4AE8-A246-9EA6D214866C</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPad-Pro</key>
			<string>1A4F802A-037B-4A96-8F5E-C9EDF144D799</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPad-Pro--10-5-inch-</key>
			<string>92C1761B-BE68-483A-A456-A2FEA152F283</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPad-Pro--12-9-inch---2nd-generation-</key>
			<string>005C2503-AEC7-4AFA-B9F1-0957FB67C56D</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPad-Pro--9-7-inch-</key>
			<string>4F5DF36A-5567-41C0-B439-28520DA1C384</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPhone-5s</key>
			<string>28CC33B3-B98F-4C30-9741-D45EE38552CB</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPhone-6</key>
			<string>FEF4A34F-833D-44CE-A134-A1F06530826C</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPhone-6-Plus</key>
			<string>4626B4D8-F710-456D-A9A1-D1D5992612B9</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPhone-6s</key>
			<string>256964AA-7F16-4A35-A3B3-96638FDD0B69</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPhone-6s-Plus</key>
			<string>D46A7F91-0B19-48B6-9D3D-4B36E3D66766</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPhone-7</key>
			<string>ABD1C890-4735-4997-83E2-7DD2210262B6</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPhone-7-Plus</key>
			<string>B85E26B7-0A29-439C-A9AE-A264035D80B7</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPhone-8</key>
			<string>3FC5F929-3727-47F8-BA09-B63BAC0B9DA3</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPhone-8-Plus</key>
			<string>B2B9126F-CFCF-41D7-BDC9-4613CDAC3731</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPhone-SE</key>
			<string>F44963C9-0C5E-49A1-8D78-BFC8D96368C4</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPhone-X</key>
			<string>142DC618-227D-476B-BBA5-CAF3962B2D7C</string>
		</dict>
		<key>com.apple.CoreSimulator.SimRuntime.iOS-13-2</key>
		<dict>
			<key>com.apple.CoreSimulator.SimDeviceType.iPad--7th-generation-</key>
			<string>F37EC4D4-7F99-4265-BC21-272F766FB6E4</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPad-Air--3rd-generation-</key>
			<string>ABE7240B-9E58-4836-81FF-31F252305E49</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPad-Pro--11-inch-</key>
			<string>DBC52326-60D7-413A-89A4-5A4871016D34</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPad-Pro--12-9-inch---3rd-generation-</key>
			<string>E3B65794-4F4F-4B41-9F68-7D23A10657F2</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPad-Pro--9-7-inch-</key>
			<string>CFD9AA26-67A2-46AA-BCC5-0D335881E2EE</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPhone-11</key>
			<string>85CA20E9-E767-4640-85E2-65A7B727C0C7</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPhone-11-Pro</key>
			<string>E97207D0-2BBA-4F2E-8FFB-7A3DF6162DB8</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPhone-11-Pro-Max</key>
			<string>8EF3F48C-006D-4A58-970D-DB19FC1BA42A</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPhone-8</key>
			<string>11524427-430E-4009-88A1-30CA674F2D93</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPhone-8-Plus</key>
			<string>3812D4B9-188A-49DC-8243-067D5CD45B63</string>
		</dict>
		<key>com.apple.CoreSimulator.SimRuntime.iOS-13-4</key>
		<dict>
			<key>com.apple.CoreSimulator.SimDeviceType.iPad--7th-generation-</key>
			<string>04DF3DF9-C4BF-41F0-A9AD-B6AB98A8A0E2</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPad-Air--3rd-generation-</key>
			<string>BD0B11E7-5B94-40FE-8867-AA0FBD2BA63E</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPad-Pro--11-inch-</key>
			<string>2929947E-6345-4257-B0A1-52576FFE9BD9</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPad-Pro--12-9-inch---3rd-generation-</key>
			<string>FF62FEF9-DE15-4C97-A048-F56093F38360</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPad-Pro--9-7-inch-</key>
			<string>D9F43EEE-6C10-4058-9066-D7EC965203EF</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPhone-11</key>
			<string>C7D05386-5BC0-443D-9382-6155E53F618F</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPhone-11-Pro</key>
			<string>1738D936-B706-4877-B146-CCE9DCE49CF5</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPhone-11-Pro-Max</key>
			<string>2362E2B3-132E-4434-BE46-C316B8FD695F</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPhone-8</key>
			<string>3BB7E989-46F7-40B4-91DA-5F2E849FCC6E</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPhone-8-Plus</key>
			<string>783B8E9D-22CD-4139-8914-99EFA8B29C87</string>
		</dict>
		<key>com.apple.CoreSimulator.SimRuntime.iOS-13-5</key>
		<dict>
			<key>com.apple.CoreSimulator.SimDeviceType.iPad--7th-generation-</key>
			<string>824B13E5-7D5A-4191-83D7-D87BE5D35EA2</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPad-Air--3rd-generation-</key>
			<string>89C00288-25E4-49FF-B7E8-ED69A6C4D042</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPad-Pro--11-inch---2nd-generation-</key>
			<string>A79E709F-995C-4C62-BAF8-80E77512E65B</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPad-Pro--12-9-inch---4th-generation-</key>
			<string>6609BB48-695D-47E3-9297-12F0A2579C47</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPad-Pro--9-7-inch-</key>
			<string>6773FC05-B9E6-4690-95E4-E992197B276B</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPhone-11</key>
			<string>D7CBCCD5-F40A-4367-B613-22CBA5BB36AA</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPhone-11-Pro</key>
			<string>72242719-5CB6-4A09-910C-F6D23D677ADD</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPhone-11-Pro-Max</key>
			<string>3E8BC8B9-7620-425D-A879-BF6AB5D3D630</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPhone-8</key>
			<string>F408B223-1749-435E-AB58-D6CDC834F8F7</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPhone-8-Plus</key>
			<string>C17A24AB-8775-4377-B8AB-E0072A63B5D9</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPhone-SE--2nd-generation-</key>
			<string>0527FA8D-741A-4084-8D59-3ACED247942A</string>
		</dict>
		<key>com.apple.CoreSimulator.SimRuntime.tvOS-13-2</key>
		<dict>
			<key>com.apple.CoreSimulator.SimDeviceType.Apple-TV-1080p</key>
			<string>3292F5A8-DADA-4908-BADF-6B3399F9E6D4</string>
			<key>com.apple.CoreSimulator.SimDeviceType.Apple-TV-4K-1080p</key>
			<string>4BCC749F-31D5-4491-8C30-5ABECC386290</string>
			<key>com.apple.CoreSimulator.SimDeviceType.Apple-TV-4K-4K</key>
			<string>D85E64EB-DF0D-47C5-B455-EDC728B8D17F</string>
		</dict>
		<key>com.apple.CoreSimulator.SimRuntime.tvOS-13-4</key>
		<dict>
			<key>com.apple.CoreSimulator.SimDeviceType.Apple-TV-1080p</key>
			<string>C628BD54-B797-45AB-A500-C573F1945DDF</string>
			<key>com.apple.CoreSimulator.SimDeviceType.Apple-TV-4K-1080p</key>
			<string>A3C5A5FC-B718-432F-9695-A6A23672C32A</string>
			<key>com.apple.CoreSimulator.SimDeviceType.Apple-TV-4K-4K</key>
			<string>014F868D-CDFD-4D71-AA83-3AE0B5376A0E</string>
		</dict>
		<key>com.apple.CoreSimulator.SimRuntime.watchOS-6-1</key>
		<dict>
			<key>com.apple.CoreSimulator.SimDeviceType.Apple-Watch-Series-4-40mm</key>
			<string>66037671-0F91-450E-B15F-0826D812F564</string>
			<key>com.apple.CoreSimulator.SimDeviceType.Apple-Watch-Series-4-44mm</key>
			<string>32D50D72-9E2A-4E56-85C4-727A6E89D9F6</string>
			<key>com.apple.CoreSimulator.SimDeviceType.Apple-Watch-Series-5-40mm</key>
			<string>CCB218BE-0E69-4A47-9BC8-AF00CEEE5082</string>
			<key>com.apple.CoreSimulator.SimDeviceType.Apple-Watch-Series-5-44mm</key>
			<string>36B98CDD-7757-4728-938D-0FDEFA7E8695</string>
		</dict>
		<key>com.apple.CoreSimulator.SimRuntime.watchOS-6-2</key>
		<dict>
			<key>com.apple.CoreSimulator.SimDeviceType.Apple-Watch-Series-4-40mm</key>
			<string>2229AD9D-AF51-4CCC-B23F-91CD3C0DED5F</string>
			<key>com.apple.CoreSimulator.SimDeviceType.Apple-Watch-Series-4-44mm</key>
			<string>71FAC0D4-F8E4-4667-9A90-A0D96B9AD5D8</string>
			<key>com.apple.CoreSimulator.SimDeviceType.Apple-Watch-Series-5-40mm</key>
			<string>74A9784A-EAED-4F1F-A365-391244A73E7E</string>
			<key>com.apple.CoreSimulator.SimDeviceType.Apple-Watch-Series-5-44mm</key>
			<string>31C0CCBE-BDAF-4235-A35D-351F449B9122</string>
		</dict>
		<key>version</key>
		<integer>0</integer>
	</dict>
	<key>DevicePairs</key>
	<dict/>
	<key>Version</key>
	<integer>0</integer>
</dict>
</plist>
